.cmp-banner {
  --cmp-icon-size: var(--pal-size-l);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--pal-size-s);

  color: var(--pal-color-a-500);

  > small {
    text-align: center;
    text-wrap: balance;
  }
}
