.cmp-select {
  --picker-padding: var(--pal-size-3xs);
  --border-radius: var(--pal-size-xs);

  border: none;

  &,
  &::picker(select) {
    appearance: base-select;
  }

  > button {
    --cmp-icon-size: var(--ui-icon-size);

    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--line-thickness) solid var(--pal-color-a-300);
    padding-right: calc(var(--ui-padding-inline) * 0.75);
    padding-left: var(--ui-padding-inline);
    width: 100%;
    height: var(--ui-height);

    border-radius: var(--border-radius);
    background-color: var(--pal-color-white);

    > .cmp-icon {
      transition: rotate var(--pal-time-s) ease;
    }
  }

  > option {
    display: flex;
    padding-inline: var(--ui-padding-inline);
    height: var(--ui-height);

    font-size: var(--ui-font-size);

    border-radius: calc(var(--border-radius) - var(--picker-padding));
    cursor: pointer;

    &::checkmark {
      display: none;
    }

    &:hover {
      background-color: var(--pal-color-a-100);
    }

    &:checked {
      color: var(--pal-color-white);
      background-color: var(--pal-color-a-500);
    }
  }

  &::picker-icon {
    display: none;
  }

  &::picker(select) {
    margin-block: var(--pal-size-m);
    border-width: var(--line-thickness);
    border-style: solid;
    border-color: var(--pal-color-a-200);
    border-right-width: 0;
    border-bottom-width: 0;
    padding: var(--picker-padding);
    max-height: 19.25rem;

    border-radius: var(--border-radius);
    box-shadow: var(--pal-shadow-1);
    scale: 0.95;
    opacity: 0;
    scrollbar-width: thin;

    transition:
      display var(--pal-time-s) ease allow-discrete,
      overlay var(--pal-time-s) ease allow-discrete,
      margin-block var(--pal-time-s) ease,
      scale var(--pal-time-s) ease,
      opacity var(--pal-time-s) ease;
  }

  &::picker(select):popover-open {
    margin-block: var(--pal-size-2xs);

    scale: initial;
    opacity: initial;

    @starting-style {
      margin-block: var(--pal-size-m);

      scale: 0.95;
      opacity: 0;
    }
  }

  &:open > button > .cmp-icon {
    rotate: 0.5turn;
  }
}
