.cmp-extracted-text-content-card > .content {
  > .text {
    padding: var(--pal-size-m);

    font-size: var(--pal-size-font-xs);
    white-space: initial;

    color: var(--pal-color-a-850);

    &.wrap {
      white-space: pre-wrap;
    }
  }
}
