.cmp-dropdown {
  position-area: bottom;
  position-try-fallbacks: flip-block;

  flex-direction: column;
  margin: var(--pal-size-2xs);
  padding: var(--pal-size-m);

  border-radius: var(--pal-size-xs);
  scale: 0.9;
  opacity: 0;
  transform-origin: top left;

  transition:
    display var(--pal-time-s) allow-discrete,
    overlay var(--pal-time-s) allow-discrete,
    scale var(--pal-time-s) var(--pal-timing-func-b),
    opacity var(--pal-time-s) var(--pal-timing-func-b);

  > * {
    flex-shrink: 0;
  }

  &:popover-open {
    display: flex;

    scale: initial;
    opacity: initial;

    &.gallery {
      display: grid;
    }

    @starting-style {
      scale: 0.9;
      opacity: 0;
    }
  }

  &.gallery {
    grid-template-columns: repeat(var(--c), 1fr);
    grid-template-rows: repeat(var(--r), 1fr);
  }
}
