.cmp-content-card {
  display: flex;
  flex-direction: column;

  border-radius: var(--pal-size-xs);
  overflow: hidden;

  > header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: var(--pal-size-2xs);
    height: var(--pal-size-xl);

    color: var(--pal-color-white);
    background-color: var(--pal-color-a-500);

    > h1 {
      display: flex;
      align-items: center;
      gap: var(--pal-size-xs);
      padding-left: var(--pal-size-2xs);

      font-size: var(--pal-size-font-xs);
    }

    > .actions {
      display: flex;
      gap: var(--pal-size-2xs);
    }
  }

  > .content {
    border-width: var(--line-thickness);
    border-style: solid;
    border-color: var(--pal-color-a-200);
    border-top-width: 0;

    border-bottom-left-radius: var(--pal-size-xs);
    border-bottom-right-radius: var(--pal-size-xs);
    color: var(--pal-color-a-500);
    background-color: var(--pal-color-a-100);

    > .void {
      display: contents;
      padding: var(--pal-size-xl);
    }

    &:has(> .cmp-loader, > .void) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--pal-size-m);
      padding: var(--pal-size-xl);
    }
  }
}
