.cmp-content-card {
  display: flex;
  flex-direction: column;

  border-radius: var(--pal-size-xs);
  background-color: var(--pal-color-a-100);
  overflow: hidden;

  > header {
    display: flex;

    background-color: var(--pal-color-a-50);

    > h1 {
      flex-grow: 1;

      display: flex;
      align-items: center;
      gap: var(--pal-size-xs);
      padding-inline: var(--pal-size-xs);
      padding-block: var(--pal-size-2xs);

      font-size: var(--pal-size-font-xs);

      border-bottom-right-radius: var(--pal-size-m);
      color: var(--pal-color-white);
      background: linear-gradient(
        to right,
        var(--pal-color-a-500) 20rem,
        var(--pal-color-d-250)
      );
    }

    > .actions {
      display: flex;
      gap: var(--pal-size-2xs);
      border-width: var(--line-thickness);
      border-style: solid;
      border-color: var(--pal-color-a-200);
      border-bottom-width: 0;
      border-left-width: 0;
      padding: var(--pal-size-2xs);
      padding-left: var(--pal-size-l);

      border-top-right-radius: var(--pal-size-xs);
    }
  }

  > .content {
    border-width: var(--line-thickness);
    border-style: solid;
    border-color: var(--pal-color-a-200);
    border-top-width: 0;

    border-bottom-left-radius: var(--pal-size-xs);
    border-bottom-right-radius: var(--pal-size-xs);
    color: var(--pal-color-a-500);

    > .void {
      display: contents;
      padding: var(--pal-size-xl);
    }

    &:has(> .cmp-loader, > .void) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--pal-size-m);
      padding: var(--pal-size-xl);
    }
  }
}
