.cmp-text-area {
  display: flex;
  align-items: center;

  width: 100%;

  > textarea {
    flex-grow: 1;

    resize: none;
    border-width: var(--line-thickness);
    border-style: solid;
    border-color: var(--pal-color-a-300);
    padding-inline: var(--ui-padding-inline);
    padding-block: calc(var(--ui-padding-inline) * 0.75);
    field-sizing: content;
    min-height: 8rem;

    border-radius: var(--ui-border-radius);
    background-color: var(--pal-color-white);
  }
}
