.cmp-document {
  > section {
    display: flex;
    flex-direction: column;
    gap: var(--pal-size-xl);

    > .cmp-toggle {
      align-self: flex-start;
    }

    > .in-procurement-type {
      --show-animation-item-delay: 25ms;

      display: grid;
      grid-template-columns: repeat(
        auto-fill,
        minmax(min(100%, var(--column-min-width, 16rem)), 1fr)
      );
      gap: var(--pal-size-s);
    }
  }
}
