.cmp-file-card {
  --border-radius: var(--pal-size-s);

  position: relative;

  display: flex;

  border-radius: var(--border-radius);
  background-color: var(--pal-color-white);

  > .status {
    font-size: var(--pal-size-font-2xs);

    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    color: var(--pal-color-white);
    background-color: var(--pal-color-b-500);

    > span {
      position: sticky;
      top: var(--layout-gutter);

      padding-inline: var(--pal-size-s);
      padding-right: 0.1875rem;
      padding-left: var(--pal-size-2xs);

      text-transform: uppercase;
      letter-spacing: 0.015625rem;
      writing-mode: sideways-lr;
    }
  }

  > .content {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    > header {
      display: flex;
      flex-direction: column;

      > h1 {
        padding: var(--pal-size-m);

        font-size: var(--pal-size-font-s);
        font-weight: 800;
      }

      > .actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: var(--pal-size-xs);
        margin: var(--pal-size-xs);
        margin-top: 0.0625rem;

        > .file {
          --cmp-button-border-color: var(--pal-color-a-100);

          color: var(--pal-color-a-500);
        }

        > .verify {
          --cmp-button-bg-color: var(--pal-color-b-200);
        }
      }
    }

    > .chips {
      display: flex;
      flex-wrap: wrap;
      gap: var(--pal-size-xs);
      border-width: 0;
      border-style: solid;
      border-color: var(--pal-color-a-150);
      border-top-width: var(--line-thickness);
      border-bottom-width: var(--line-thickness);
      padding: var(--pal-size-xs);
    }

    > .logs {
      height: 10rem;
    }
  }

  > .toggles {
    border-width: 0;
    border-style: solid;
    border-color: var(--pal-color-a-150);
    border-left-width: var(--line-thickness);
    padding: var(--pal-size-xs);

    > .container {
      position: sticky;
      top: var(--layout-gutter);

      display: flex;
      flex-direction: column;
      gap: var(--pal-size-xs);
    }
  }
}
