:root {
  /* FONT */

  --pal-font-a: 'Manrope Variable', sans-serif;
  --pal-font-mono: 'Cascadia Code', monospace, system-ui;

  /* FONT SIZE */

  --pal-size-font-3xs: 0.5rem;
  --pal-size-font-2xs: 0.625rem;
  --pal-size-font-xs: 0.8125rem;
  --pal-size-font-s: 1rem;
  --pal-size-font-m: 1.25rem;
  --pal-size-font-l: 1.5rem;
  --pal-size-font-xl: 2rem;
  --pal-size-font-2xl: 2.5rem;

  /* SIZE */

  --pal-size-3xs: 0.125rem;
  --pal-size-2xs: 0.25rem;
  --pal-size-xs: 0.5rem;
  --pal-size-s: 0.75rem;
  --pal-size-m: 1rem;
  --pal-size-l: 1.5rem;
  --pal-size-xl: 2rem;
  --pal-size-2xl: 2.5rem;
  --pal-size-3xl: 5rem;

  /* COLOR */

  /* https://hihayk.github.io/scale/#9/9/100/100/0/0/-25/-25/73758C/115/117/140/white */
  --pal-color-black: #000000;
  --pal-color-n-900: #0d0d0f;
  --pal-color-n-850: #1a1b1f;
  --pal-color-n-800: #27282e;
  --pal-color-n-750: #34353e;
  --pal-color-n-700: #41424d;
  --pal-color-n-650: #4d4f5d;
  --pal-color-n-600: #5a5c6c;
  --pal-color-n-550: #67687c;
  --pal-color-n-500: #73758c;
  --pal-color-n-450: #838599;
  --pal-color-n-400: #9394a5;
  --pal-color-n-350: #a2a4b2;
  --pal-color-n-300: #b2b3be;
  --pal-color-n-250: #c2c2cb;
  --pal-color-n-200: #d1d2d8;
  --pal-color-n-150: #e0e1e5;
  --pal-color-n-100: #f0f0f2;
  --pal-color-white: #ffffff;

  /* https://hihayk.github.io/scale/#9/9/95/95/0/0/-25/-25/5059BC/80/89/188/white */
  --pal-color-a-950: #050509;
  --pal-color-a-900: #0e0f1b;
  --pal-color-a-850: #181a2e;
  --pal-color-a-800: #212342;
  --pal-color-a-750: #292d55;
  --pal-color-a-700: #323669;
  --pal-color-a-650: #3a3f7d;
  --pal-color-a-600: #424892;
  --pal-color-a-550: #4951a7;
  --pal-color-a-500: #5059bc;
  --pal-color-a-450: #646cc2;
  --pal-color-a-400: #777ec8;
  --pal-color-a-350: #8b90ce;
  --pal-color-a-300: #9da2d5;
  --pal-color-a-250: #b0b4dc;
  --pal-color-a-200: #c2c5e3;
  --pal-color-a-150: #d4d6eb;
  --pal-color-a-100: #e6e7f3;
  --pal-color-a-50: #f7f7fb;

  /* https://hihayk.github.io/scale/#9/9/95/95/0/0/-25/-25/50BC86/80/188/134/white */
  --pal-color-b-950: #050907;
  --pal-color-b-900: #0e1b15;
  --pal-color-b-850: #182e23;
  --pal-color-b-800: #214231;
  --pal-color-b-750: #29553f;
  --pal-color-b-700: #32694d;
  --pal-color-b-650: #3a7d5c;
  --pal-color-b-600: #42926a;
  --pal-color-b-550: #49a778;
  --pal-color-b-500: #50bc86;
  --pal-color-b-450: #64c293;
  --pal-color-b-400: #77c8a0;
  --pal-color-b-350: #8bceac;
  --pal-color-b-300: #9dd5b9;
  --pal-color-b-250: #b0dcc6;
  --pal-color-b-200: #c2e3d3;
  --pal-color-b-150: #d4ebdf;
  --pal-color-b-100: #e6f3ec;
  --pal-color-b-50: #f7fbf9;

  /* https://hihayk.github.io/scale/#9/9/95/95/0/0/-25/-25/BCB350/188/179/80/white */
  --pal-color-c-950: #090805;
  --pal-color-c-900: #1b1a0e;
  --pal-color-c-850: #2e2d18;
  --pal-color-c-800: #423f21;
  --pal-color-c-750: #555229;
  --pal-color-c-700: #696532;
  --pal-color-c-650: #7d783a;
  --pal-color-c-600: #928b42;
  --pal-color-c-550: #a79f49;
  --pal-color-c-500: #bcb350;
  --pal-color-c-450: #c2ba64;
  --pal-color-c-400: #c8c177;
  --pal-color-c-350: #cec98b;
  --pal-color-c-300: #d5d09d;
  --pal-color-c-250: #dcd8b0;
  --pal-color-c-200: #e3e0c2;
  --pal-color-c-150: #ebe9d4;
  --pal-color-c-100: #f3f2e6;
  --pal-color-c-50: #fbfbf7;

  /* https://hihayk.github.io/scale/#9/9/95/95/0/0/-25/-25/BC5050/188/80/80/white */
  --pal-color-d-950: #090505;
  --pal-color-d-900: #1b0e0e;
  --pal-color-d-850: #2e1818;
  --pal-color-d-800: #422121;
  --pal-color-d-750: #552929;
  --pal-color-d-700: #693232;
  --pal-color-d-650: #7d3a3a;
  --pal-color-d-600: #924242;
  --pal-color-d-550: #a74949;
  --pal-color-d-500: #bc5050;
  --pal-color-d-450: #c26464;
  --pal-color-d-400: #c87777;
  --pal-color-d-350: #ce8b8b;
  --pal-color-d-300: #d59d9d;
  --pal-color-d-250: #dcb0b0;
  --pal-color-d-200: #e3c2c2;
  --pal-color-d-150: #ebd4d4;
  --pal-color-d-100: #f3e6e6;
  --pal-color-d-50: #fbf7f7;

  /* TIME */

  --pal-time-xs: 0.1s;
  --pal-time-s: 0.2s;
  --pal-time-m: 0.4s;
  --pal-time-l: 1s;
  --pal-time-xl: 2s;

  /* TIMING FUNCTION */

  --pal-timing-func-a: linear(
    0,
    0.921 14.4%,
    1.19 22.4%,
    1.34 31.2%,
    1.378 38%,
    1.363 45.6%,
    1.06 80%,
    1
  );

  --pal-timing-func-b: linear(
    0,
    0.333 8.5%,
    0.596 17.4%,
    0.795 26.9%,
    0.87 31.9%,
    0.93 37.1%,
    1.002 46.9%,
    1.023 52.2%,
    1.035 58%,
    1.035 67.8%,
    1.006 89.3%,
    1
  );

  --pal-timing-func-c: linear(
    0,
    -0.017 5.7%,
    -0.104 18.1%,
    -0.127 23.6%,
    -0.127 26.6%,
    -0.116 29.4%,
    -0.059 34.6%,
    0.041 39.3%,
    0.191 43.8%,
    0.695 53.6%,
    0.879 58.1%,
    1.017 63.1%,
    1.098 68.4%,
    1.125 72.8%,
    1.123 77.8%,
    1.1 82.5%,
    1.018 94%,
    1
  );

  /* MISC */

  --pal-shadow-0:
    0.3px 0.5px 0.7px rgba(0, 0, 0, 0.1), 0.4px 0.8px 1px rgba(0, 0, 0, 0.1),
    1px 2px 2.5px rgba(0, 0, 0, 0.1);
  --pal-shadow-1:
    0.3px 0.5px 0.7px rgba(0, 0, 0, 0.09),
    0.7px 1.3px 1.7px rgba(0, 0, 0, 0.09),
    1.3px 2.6px 3.3px rgba(0, 0, 0, 0.09),
    2.6px 5.2px 6.5px rgba(0, 0, 0, 0.09), 5px 10px 12.6px rgba(0, 0, 0, 0.09);
  --pal-shadow-2:
    0.3px 0.5px 0.7px rgba(0, 0, 0, 0.08), 1.2px 2.4px 3px rgba(0, 0, 0, 0.08),
    2.1px 4.3px 5.4px rgba(0, 0, 0, 0.08),
    3.2px 6.5px 8.2px rgba(0, 0, 0, 0.08),
    4.7px 9.4px 11.8px rgba(0, 0, 0, 0.08),
    6.8px 13.6px 17.1px rgba(0, 0, 0, 0.08),
    9.6px 19.3px 24.3px rgba(0, 0, 0, 0.08),
    13.5px 27px 34px rgba(0, 0, 0, 0.08),
    18.5px 37.1px 46.6px rgba(0, 0, 0, 0.08),
    25px 50px 62.9px rgba(0, 0, 0, 0.08);

  --pal-shadow-drop-0: drop-shadow(0.3px 0.5px 0.7px rgba(0, 0, 0, 0.1))
    drop-shadow(0.4px 0.8px 1px rgba(0, 0, 0, 0.1))
    drop-shadow(1px 2px 2.5px rgba(0, 0, 0, 0.1));

  --pal-shadow-drop-1: drop-shadow(0.3px 0.5px 0.7px rgba(0, 0, 0, 0.09))
    drop-shadow(0.7px 1.3px 1.7px rgba(0, 0, 0, 0.09))
    drop-shadow(1.3px 2.6px 3.3px rgba(0, 0, 0, 0.09))
    drop-shadow(2.6px 5.2px 6.5px rgba(0, 0, 0, 0.09))
    drop-shadow(5px 10px 12.6px rgba(0, 0, 0, 0.09));

  --pal-shadow-drop-2: drop-shadow(0.3px 0.5px 0.7px rgba(0, 0, 0, 0.08))
    drop-shadow(1.2px 2.4px 3px rgba(0, 0, 0, 0.08))
    drop-shadow(2.1px 4.3px 5.4px rgba(0, 0, 0, 0.08))
    drop-shadow(3.2px 6.5px 8.2px rgba(0, 0, 0, 0.08))
    drop-shadow(4.7px 9.4px 11.8px rgba(0, 0, 0, 0.08))
    drop-shadow(6.8px 13.6px 17.1px rgba(0, 0, 0, 0.08))
    drop-shadow(9.6px 19.3px 24.3px rgba(0, 0, 0, 0.08))
    drop-shadow(13.5px 27px 34px rgba(0, 0, 0, 0.08))
    drop-shadow(18.5px 37.1px 46.6px rgba(0, 0, 0, 0.08))
    drop-shadow(25px 50px 62.9px rgba(0, 0, 0, 0.08));
}

@keyframes pulsar {
  from {
    outline-color: rgba(var(--pal-color-base-b), 0.375);
    outline-offset: initial;
    outline-width: 0;
  }
  25%,
  to {
    outline-color: transparent;
    outline-offset: var(--pal-size-m);
    outline-width: 0.0625rem;
  }
}
