.cmp-user-activity {
  > .user {
    background-color: var(--pal-color-a-100);

    > .icon {
      border-width: var(--line-thickness);
      border-style: solid;
      border-color: var(--pal-color-a-150);
      aspect-ratio: 1;
      height: var(--pal-size-m);

      border-radius: var(--pill-radius);
      background-image: url('https://www.loremfaces.net/96/id/3.jpg');
      background-size: cover;
    }
  }
}
