.cmp-obra-card {
  --gap: var(--pal-size-m);

  border-radius: var(--pal-size-xs);
  background-color: var(--pal-color-white);
  overflow: hidden;
  outline-width: 0;
  outline-style: solid;
  outline-color: color-mix(in srgb, var(--pal-color-a-500) 25%, transparent);

  transition: outline-width var(--pal-time-2xs) ease;

  > .status-text {
    padding-inline: var(--pal-size-xs);
    padding-block: var(--pal-size-2xs);

    background-color: var(--pal-color-b-500);
  }

  > .content {
    padding: var(--gap);

    > a {
      display: block;
      padding-bottom: var(--gap);

      font-size: var(--pal-size-font-m);
      font-weight: 800;
      text-decoration: none;

      color: var(--pal-color-a-500);
    }

    > .details {
      display: flex;
      flex-direction: column;
      gap: var(--pal-size-2xs);
      border-width: 0;
      border-style: solid;
      border-color: var(--pal-color-a-150);
      border-top-width: var(--line-thickness);
      padding-top: var(--pal-size-s);

      font-size: var(--pal-size-font-2xs);

      > p {
        display: flex;
        align-items: center;
        gap: var(--pal-size-xs);

        > .title {
          flex-shrink: 0;

          /* width: 4rem; */

          color: var(--pal-color-a-500);
        }

        > .value {
          flex-grow: 1;

          white-space: nowrap;
          text-overflow: ellipsis;

          overflow: hidden;
        }
      }
    }
  }

  &:hover {
    outline-width: 0.1875rem;
  }
}
