.cmp-resource-card {
  > .content {
    > header {
      > .text {
        text-decoration: none;

        &:hover {
          color: var(--pal-color-a-500);
        }
      }
    }

    > ul {
      gap: var(--card-style-items-gap);

      > ul:first-child {
        flex-shrink: 0;
      }

      &.matrix {
        flex-direction: row;
        justify-content: space-between;

        > ul {
          display: flex;
          flex-direction: column;
          gap: var(--pal-size-2xs);
        }
      }
    }
  }
}
