.cmp-procurement-type-controls {
  border-radius: var(--pal-size-xs);
  background-color: var(--pal-color-white);

  > header {
    display: flex;
    align-items: center;
    gap: var(--pal-size-m);
    padding-inline: var(--pal-size-s);
    padding-block: var(--pal-size-xs);

    > label {
      color: var(--pal-color-b-500);
      opacity: 0.5;
      cursor: pointer;
      pointer-events: none;

      .is-editing & {
        opacity: initial;
        pointer-events: initial;
      }
    }

    > .group {
      flex-grow: 1;

      display: flex;
      align-items: center;
      justify-content: space-between;

      > h1 {
        font-size: var(--pal-size-font-xs);
        font-weight: 800;
      }
    }

    &:has(> label) {
      padding: var(--pal-size-xs);
    }
  }

  > ul {
    display: flex;
    flex-direction: column;
    gap: var(--pal-size-2xs);
    border-width: 0;
    border-style: solid;
    border-color: var(--pal-color-a-150);
    border-top-width: var(--line-thickness);
    padding: var(--pal-size-xs);

    > .cmp-button {
      margin-top: var(--pal-size-2xs);

      border-radius: var(--pal-size-2xs);
      color: var(--pal-color-a-500);

      display: none;

      .is-editing & {
        display: flex;
      }
    }
  }
}
